<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.homework30nov2023.dao.IEmployeeDao">

    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO employees
        (first_name, last_name, position, years_of_exp)
        VALUES
        (#{firstName}, #{lastName}, #{position}, #{yearsOfExperience})
    </insert>

    <select id="getById" resultMap="EmployeeResultMap">
        SELECT id, first_name, last_name, position, years_of_exp
        FROM employees WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE employees SET
        first_name = #{employee.firstName},
        last_name = #{employee.lastName},
        position = #{employee.position},
        years_of_exp = #{employee.yearsOfExperience}
        WHERE id = #{id}
    </update>

    <delete id="removeById">
        DELETE FROM employees WHERE id = #{id}
    </delete>

    <select id="getAll" resultMap="EmployeeResultMap">
        SELECT * FROM employees
    </select>

    <resultMap id="EmployeeResultMap"
               type="com.solvd.homework30nov2023.model.Employee"
               autoMapping="false">
        <id column="id" property="id"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
        <result column="position" property="position"/>
        <result column="years_of_exp" property="yearsOfExperience"/>
    </resultMap>
</mapper>